img {
    padding-top: 1em;
    margin: 1px;
    width: 25%;
}

body {
    font-family: 'Roboto', sans-serif;;
    margin: 5% 5% 4% 5%;
    color: gold;
}

h1 {
    font-family: Algerian;
}


article {
    text-align: right;
    font-size: 1.6em;
    font-family: "Bell MT";
}

aside.aside-class {
    text-align: center;
    display: inline;
    font-family: Forte;
}

h1.h1\.1-class {
    font-family: Georgia;
}

table {
    font-size: 15px;
    margin: 5px;
    text-align: left;
}

input {
    padding: 0.3em;
    margin: 1%;
}

h1 {
    color: gold;
}

nav {
    background-color: black;
    text-align: center;
}

nav a {
    color: gold;
    display: inline-block;
    padding: 0.6em;
    text-decoration: none;

}

nav a:hover {
    color: firebrick;
}

h5 {
    color: gold;
}

b {
    text-decoration: gold;
}

h1.h1-class {
    font-family: "Bodoni MT";
    text-align: center;
    color: #dd0000;
}

body.body-class {
    margin: 10px 400px 10px 400px;
}

aside.aside1-class {
    font-family: Roboto;
    text-align: left;
}

table.table-class {
    font-size: 1.3em;
    border: 2.5px solid red;;
    margin: auto;
}

img.img-class {
    width: 37%;
}

table label {
    display: block;
    background-color: red;
}

